/autom4te.cache/
/src/.deps/
/src/klangc

*.o
*.Po
*.Tpo
*~

Makefile
Makefile.in

/aclocal.m4
/*.log
/compile
/config.*
/confdefs.h
/configure
/configure.scan
/install-sh
/missing
/stamp-h1
/depcomp
/ltmain.sh
/libtool

/m4/

